table, th, td {
    border: 1px solid green;
    border-collapse: collapse;

    width: 100%;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

  .table{
    
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 50px;
    margin: 0 auto;
  }