<!-- <div class="sidebar">
    <a class="active" href="#home">Add</a>
    <a href="#news">View</a>
    <a href="#contact">Search</a>
    <a href="#about">Modify</a>
  </div>
   -->
  <!-- Page content -->
  <!-- <div class="content">
    ..
  </div>
  <div>

     <app-welcome-admin></app-welcome-admin>
  </div> -->



    <div class="sidenav">
      <a (click)="addFlight()">Add Flight</a>
      <a (click)="viewFlight()">View Flight Available</a>
      <a (click)="manageDiscount()">Manage Discount</a>
      <a href="#contact">View Airport Available</a>
      <a href="#contact">Schedule A Flight</a>
      <a href="#contact">Modify Scheduled Flight</a>
    </div>
    
    <div class="main">
      <!-- <h2>Sidebar</h2>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p> -->

      <!-- <app-welcome-admin></app-welcome-admin> -->
      <router-outlet></router-outlet>
    </div>
